html,
body {
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
  background-color: #1d1e20 !important;
}

#__next{
  min-height: 100vh;
}

.table-none{
  display:none;
}

@media (min-width: 768px) {
  .table-none{
    display: table-cell;
  }
}
 .page-link {
   position: relative;
   display: block;
   padding: 0.5rem 0.75rem;
   margin-left: -1px;
   line-height: 1.25;
   color: white;
   background-color: #1d1e20;
   border: 1px solid #1d1e20;
 }
.page-item.active .page-link {
  color: white !important;
  background: #2f3237 !important;
}
.page-item.disabled .page-link {
  color: #1d1e20;
  pointer-events: none;
  cursor: auto;
  background-color: #1d1e20;
  border-color: #1d1e20;
}
.page-item.active .page-link {
  z-index: 1;
  color: #2f3237;
  background-color: #1d1e20;
  border-color: white;
}
.page-link:focus, .page-link:hover {
  color:   #343a40;
  text-decoration: none;
  background-color:  #f8f9fa;
  border-color: #343a40;
}