html,
body {
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
  background-color: #1d1e20 !important;
}

#__next{
  min-height: 100vh;
}

.table-none{
  display:none;
}

@media (min-width: 768px) {
  .table-none{
    display: table-cell;
  }
}
.pagination > li > a
{
  background-color: white;
  color: purple;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: purple;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a
{
  color: white;
  background-color: purple;
  border: solid 1px purple;
}

.pagination > .active > a:hover
{
  background-color: purple;
  border: solid 1px purple;
}
